/*  ****************TAG SELECTORS**************** */
body{
   margin: 10px;
   text-align: center;
   font-family: 'Arial', 'Helvetica', sans-serif;
}

h1{
   font-size: 5rem;
   font-family: 'Sacramento', cursive;
   margin: 50px auto 0 auto;  
}

h2{
   font-weight: normal;
}

h1, h2{
   color: #66BFBF;
}

h3{
   color: #11999E;
}

h4{
margin-top: 0;
font-size: 2.5rem;
font-weight: normal;
color: orangered;
font-family: 'Fraunces', italic;
}

hr{
   border: dotted #EAF6F6 5px;
   border-bottom: none;
   width: 5%;
   margin: 100px auto;
}

section > img{
   border-radius: 50px;
   height: 250px;
   width: 200px;
}

nav{
   background-color: black;
   color: #f6f6f6;
}

p{
   color: #40514e;
}

a{
   color: #11999E;
   margin: 10px 20px;
   text-decoration: none;
}

a:hover{
   color: #EAF6F6;
}

ul{
   text-decoration: none;
}

/*  ****************CLASS SELECTORS**************** */
.top-container{
  background-color: #EAF6F6;
}

.middle-container{
   margin: 0 auto;
}

.bottom-container{
   margin: 0 auto;
   background-color: #66BFBF;
}

.intro{
   width: 50%;
   margin: auto;
}

.icon-left{
   width: 30px;
   height: 30px;
   float: left;
   margin-right: 15px;
}

.icon-right{
   width: 30px;
   height: 30px;
   float: right;
   margin-left: 15px;
}

.skill-row{
   width: 50%;
   margin: 10px auto;
   position: relative;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.contact-me{
   margin: 10px auto;
}

.btn{
   border-radius: 8px;
   background-image: linear-gradient(#11cdd4, #11999e);
   color: #f6f6f6;
   text-decoration: none;
   font-size: 20px;
   padding:10px 20px;
}

.btn:hover{ 
   background: #30e3cb;
}

.btn:visited{
   background: #2bc4ad;
}

.copyright{
   color: #EAF6F6;
   font-size: 0.75rem;
   padding: 20px 0 ;
   margin: 10px auto;
}
